<html>
<title> G Contax </title>

<head>
	<link rel="shortcut icon" href="static/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Nunito" rel="stylesheet">
	<link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css?q=3">
</head>

<body>
	<div class="row-fluid">
		<ul class="navigationBar">
			<li class="navigationButtons navigationButtonsLeft">
				<img class="navigatorImages" src="static/imgs/gcontax.logo">
			</li>
			<li class="navigationButtons navigationButtonsLeft"><a class="btn navigationLink" href="/">Home</a></li>
			<li class="navigationButtons navigationButtonsLeft"><a class="btn navigationLink" href="/contabil">Contab</a></li>
			<li class="navigationButtons navigationButtonsRight"><a class="btn navigationLink" href="/admin">Admin</a></li>
		</ul>
	</div>

	<div class="container-fluid">
		<br>
		<div class="row-fluid">`
			<div class="col-sm-2">

			</div>
			<div class="col-sm-8">
				<div align="center" class="page-header">
					<h1>Ops! Page not found</h1>
				</div>
				<br>
				<div align="center" id="notFound">:(</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	</div>

	<div id="footer">
		<p id="footerMessage">&copy; G.Contax 2017</p>
	</div>

	<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>